/* Universal Syles */

html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #01161E;
}

body {
  font-family: "Open Sans", sans-serif;
  top: 4rem;
  color: #01161E;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.1;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  padding: 2rem 0;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  line-height: 1.2;
  font-weight: bold;
}

p {
  line-height: 1.35;
  padding: 0.5rem 0.5rem 0.5rem 0;
}

a {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  padding-left: 1rem;
  color: #01161E;
  font-size: 1.25rem;
}

.banner, .information {
  margin: auto 0;
}

/* Header */

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  width: 100%;
  background-color: #FFFFFF;
  z-index: 10;
  /*border: 1px solid red;*/
}

header img {
  height: 32px;
  margin-left: 24px;
}

.header-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo h3 {
  color: #D3D3D3;
}

.header-logo span {
  color: black;
}

/* Navigation */

nav {
  padding-right: 24px;
  align-self: center;
  display: flex;
}

 header .desktop {
   display: inline-block;
   color: black

 }

 header .mobile{
   display: none;
 }

/* Banner Section */

.banner {
display: block;
background-color: #D3D3D3;
}

.banner img {
  display: inline-block;
  vertical-align: middle;
  width: 60%;
  margin: 2rem 2.5rem 2rem 1.5rem;
  flex-shrink: 0;
  padding-top: 4rem;
}

.side-text {
  display: inline-flex;
  flex-flow: column;
  justify-content: space-between;
}

.banner h3 {
    margin: 1.5rem 0;
}

.banner .side-text {
    width: 30%;
    box-sizing: border-box;
}

.banner h1{
  color: ..;
}


/* Start Button */

.start {
  width: 75%;
  background-color: #696969;
  color: white;
  font-size: 1.2rem;
  padding: 1rem 0;
  text-align: center;
  transition:color 400ms, background-color 400ms;
  font-weight: bold;
}

.start:hover {
  background-color: #00BFFF;
}

/* Second Section "Keep Practicing" */

/* Big Container */

.multi-container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.main-pic-box {
  width: 60%;
  padding: 2rem 1.5rem;
}

.main-pic-box img, video {
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.main-pic-box h2 {
  padding: 0 0 1.5rem 0;
}

.main-pic-box h5 {
  padding: 32px 0px;
}

#mobile-pic {
  display: none;
}

/* Small Container */

.stacked-content-box {
  display: flex;
  flex-flow: column;
  vertical-align: top;
  margin-top: 2rem;
  width: 35%;
}

.content-box img {
  width: 35%;
  margin: 3.5%;
  vertical-align: middle;
  display: inline-block;
}

.content-box .side-text {
  width: 55%;
  vertical-align: middle;
}

.content-box a {
  color: #00BFFF;
  padding: 0;
}

.main-pic-box {
  padding: 1rem 1rem 1.5rem 1.5rem;
}

.information .content-box:last-child, .content-box:first-child {
  background-color: #D3D3D3;
}

/* Third Section "Start Learning" */

.learn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background-color: #D3D3D3;
}

.learn-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  margin-bottom: 2rem;
}

.learn-box {
  background-color: #FFFFFF;
  width: 30%;
  height: auto;
  margin: 0 0.5rem 1rem 0.5rem;
}

.learn h2 {
  text-align: center;
}

.learn-box img {
  width: 100%;
}

.learn-text {
  margin: 1.5rem auto;
  padding: 1rem 0 0 1rem;
}

.learn-text h3 {
  color: #00BFFF;
}

/* Fourth Section "Thesis Exhbit" */

.thesis .main-pic-box {
  padding: 1rem 1rem 1.5rem 1.5rem;
}

.thesis h2 {
  text-align: center;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  background-color: #D3D3D3;
  border-top: 1px solid #01161E;
  top: 4rem;
  width: 100%
}

footer nav {
  align-self: auto;
  padding-top: 1rem;
}

footer h5 {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  padding: 1rem 1.5rem;
  margin-bottom: 1.5rem;
}

footer span {
  padding-left: 1rem;
}

/* Mobile Version Settings */

@media only screen and (max-width:470px) {

/* Do Not Display */

  footer nav, header .desktop, .header-logo, .information .main-pic-box,
  .thesis .stacked-content-box, .thesis p, .thesis h3, .learn-box img,
  .course-box p, #pc-pic {
    display: none;
  }

/* Mobile Header */

  header .mobile {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  header .mobile img {
    width: auto;
    height: 90%;
  }

  /* Mobile Start Banner */

  .start {
    width: 100%;
    align-self: center;
    margin-bottom: 2rem;
  }

  .banner img {
    width: 100%;
    /*padding: 2rem 1rem;*/
    margin: auto;
    margin-bottom: 2rem;
  }

  .banner .side-text {
    width: 100%;
    padding: 0 1rem;
    margin: auto;
  }

    /* Mobile Third Section "Start Learning" */

  .stacked-content-box, .content-box .side-text{
    width: 100%;
    background-color: white;
  }

  .content-box {
    display: flex;
    flex-flow: column;
  }

  .content-box img {
    width: 100%;
    margin: auto;
    background-color: white;
  }

  #mobile-pic {
    display: block;
    box-sizing: border-box;
    padding: 1rem 1rem 1.5rem 1rem;
 }

  .content-box a {
   font-size: 1rem;
  }

  .content-box .side-text {
    text-align: center;
  }

  .side-text a:last-child {
    padding-bottom: 2rem;
  }
  
}
